<!DOCTYPE html>
<html>
  <head>
  	<link href="/box.css" rel="stylesheet" media="screen">
  <title>Box Model Fun</title>
  </head>
  <body>
		<h1>Box Model of Pain and Terror</h1>
		<div class="box">Here's your content.</div>
		<div class="box1">With a bigger border.</div>
		<div class="box2">With more padding.</div>
		<div class="box3">With larger margins.</div>
		<div class="box4">With more width.</div>
		<div class="box5">All of the above changes put together.</div>
	</body>
</html>